@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext);

:root {
	--black:			rgba(19,21,26,1);
	--black_alt:	rgba(19,21,26,.1);
	--white:			rgba(255,255,255,1);
	--white_alt:	rgba(255,255,255,.2);
	--blue:				#41b0db;
	--brad:				.25rem;
}

body		{ color: var(--white); font-family: 'Roboto Condensed'; font-size: 1.125rem; text-align: center; background: var(--blue); }

a					{ color: var(--white); text-decoration: none; transition: all .3s; }
a:hover		{ text-decoration: none; }

div#main		{ padding: 1.25rem; }

span#title		{ font-size: 3rem; font-weight: 700; padding: 2.5rem 0 5rem; display: inline-block; }
h1						{ font-size: 1.5rem; }
p							{ line-height: 1.375rem; padding: 2rem 0; }

ul						{ display: flex; justify-content: center; }
	ul > li			{ margin: 0 .5rem; }
	ul > li > a	{ display: flex; }

	ul#actions > li			{ width: 100%; }
	ul#actions > li > a	{ font-size: 1rem; font-weight: 700; text-align: center; text-transform: uppercase; padding: 1.25rem; background: var(--white_alt); border-radius: var(--brad); display: block; }
	ul#actions > li:first-child > a	{ background: var(--black_alt); }
	ul#actions > li > a:hover				{ color: var(--black); background: var(--white); }

	ul#social > li > a				{ padding: .625rem 1rem; border-radius: var(--brad); overflow: hidden; }
	ul#social > li > a > span	{ font-size: 2.25rem; }
	ul#social > li > a > i		{ display: none; }
	ul#social > li > a:hover	{ background: var(--white_alt); }

form						{ margin: 6rem 0 2rem; display: flex; justify-content: center; }
	form > *			{ font-family: 'Roboto Condensed'; line-height: 3rem; font-size: 1rem; font-weight: 600; padding: 0 .75rem; border: 0; }
	form > input	{ width: 20rem; border-top-left-radius: var(--brad); border-bottom-left-radius: var(--brad); opacity: .75; }
	form > button	{ color: var(--white); text-transform: uppercase; background: var(--black_alt); border-top-right-radius: var(--brad); border-bottom-right-radius: var(--brad); }

@media (min-width: 576px)	{
	p	{ margin: 0 auto; width: 80%; }
}

@media (min-width: 768px)	{
	p												{ width: 28rem; }
	ul#actions > li					{ width: auto; }
	ul#social > li > a > i	{ font-style: normal; line-height: 2.25rem; padding: 0 0 0 .625rem; display: block; }
}
